.Whatexcel__continaer,
.whatexcel__top,
.whatexcel__heading {
    width: 100%;
    font-family: var(--primary-font);
}

.whatexcel__heading {
    color: var(--secondaryColor);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.whatexcel__heading h1 {
    font-weight: bold;
    font-size: 3rem;
    color: var(--secondaryColor);
}

.whatexcel__para {
    width: 80%;
    margin: auto;
    color: white;
    font-family: var(--primary-font);
    text-align: center;
    line-height: 1.7rem;
}

.whats__slider {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

.whatexcel__carosul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.whatexcel__carosul__img {
    width: 50%;
    height: 25rem;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
}

.whatexcel__carosul__btn {
    /* Add your button-specific styles here */
    font-size: 24px;
    height: max-content;
    padding: 10px 20px;
    /* Adjust the padding as needed */
}