.rewards__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reward__section,
.reward__heading__section {
    width: 80%;
    font-family: var(--secondaryColor);
}

.reward__middle_head {
    color: white;
}

.reward__top__section {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reward__left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reward__right {
    width: 100%;
    height: 100%;
}

.reward__right__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.reward__right__middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.reward__cards__priz {
    color: white;
    display: flex;
    width: 18rem;
    justify-content: space-around;
    align-items: center;
    /* background: red; */
    padding: 0.5rem;
    border-radius: 1rem;
    /* border: 1px solid #FFCE31; */
}

.reward__first__prize {
    box-shadow: #FFE590 0px 0px 7px -1px;
}

.reward__second__prize {
    box-shadow: #F8F8F8 0px 0px 7px -1px;
}

.reward__third__prize {
    box-shadow: #CF9A63 0px 0px 7px -1px;
}

.reward__cards__priz h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    background: linear-gradient(180deg, #E9C310 25.45%, #FFE24B 55.28%, #E8A303 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reward__ul__item {
    width: 100%;
    margin-top: 2rem;
    color: white;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--primary-font);
}

.reward__pink {
    color: var(--secondaryColor);
}

@media only screen and (max-width: 1300px) {}

@media (min-device-width: 20px) and (max-device-width: 500px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1100px) {
    .reward__top__section {
        width: 90%;
    }
    .reward__cards__priz {
        width: 12rem;
    }
    .reward__cards__priz h2 {
        font-size: 1.5rem;
    }
    .reward__cards__priz img {
        width: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .reward__cards__priz {
        width: 10rem;
    }
    .reward__cards__priz h2 {
        font-size: 1.2rem;
    }
    .reward__left img {
        width: 126%;
    }
}

@media screen and (max-width: 800px) {
    .reward__top__section {
        flex-direction: column;
    }
    .section__title {
        width: 80%;
        margin: auto;
    }
    .section__title h1 {
        font-size: 2rem;
        text-align: center;
    }
    .section__title img {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .reward__left {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {}

@media only screen and (device-width: 768px) {}