.leaderBrd__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 3rem;
}
/* .stay__tuned_text{
  margin: 0 auto;
  
} */

.coming__son{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.coming__sonn_txt{
  color: var(--secondaryColor);
  font-family: var(--primary-font);
}
.goBack{
  margin-left: 10px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  color: var(--secondaryColor);
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--secondaryColor);
  border-radius: 50%;
  font-size: 1rem;

}
.leaderTable {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.leader__card{
    width: 75%;
    display: flex;
    border: 1px solid var(--secondaryColor);
    color: #ffff;
    font-family: var(--primary-font);
    flex-direction: row;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: space-between;
    /* padding: 0.5rem; */
    border-radius: 20px;
}
.leader__name_n_pic{
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 20px;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
}
.leader__name_n_pic >img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}