.contacts__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts__cards_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.contact__card_main {
    width: 15rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
  align-items: ; */
}

.contact__card_desc_part {
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    background: #191617;
    box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.53), 4px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.name_n_pos_ctct {
    gap: 0.25rem;
    width: 100%;
    height: 80%;
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.ctct_image {
    height: 15rem;
    border-radius: 1rem;
    /* background: #191617; */
    box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.53), 4px 4px 8px 0px rgba(0, 0, 0, 0.50);
    /* box-shadow:  5px 5px 10px #f74670,
             -5px -5px 10px #f74670; */
    /* width: 10rem; */
}

.ctct__name {
    color: #ffff;
    font-weight: 700;
}

.ctct__position {
    color: #ffff;
    margin-top: -10px;
}

.ctct__icons {
    color: #f74670;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.5rem;
}

.social__icon_contact {
    width: 1.5rem;
    height: 1.5rem;
}

.social__icon_contact :hover {
    width: 1.6rem;
    height: 1.6rem;
    transition: 0.2 ease-in;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {}

@media (min-device-width: 20px) and (max-device-width: 500px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1100px) {}

@media screen and (max-width: 992px) {
    .contacts__cards_container {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 400px) {}

@media only screen and (min-device-width: 320px) and (max-device-width : 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {}

@media only screen and (device-width: 768px) {}